%h1
  Editing Social Media Account
  -if @user
    for:
    = @user.name_and_email

= render 'form'

- if @user
  = link_to 'Show', user_social_media_account_path(@user, @social_media_account.social_media_site)
  \|
  = link_to 'Back', @user
-else
  = link_to 'Show', social_media_account_path(@social_media_account)
  \|
  = link_to 'Back', social_media_account_path