%h1 Listing interviews

%table
  %tr
    %th Interviewee
    %th Interviewer
    %th Approve
    %th Date
    %th Notes
    %th
    %th
    %th

  - @interviews.each do |interview|
    %tr
      %td= interview.interviewee.name
      %td= interview.interviewer.name
      %td= interview.approve
      %td= interview.date
      %td= interview.notes
      %td= link_to 'Show', interview
      %td= link_to 'Edit', edit_interview_path(interview)
      %td= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Interview', new_interview_path
