= form_for @user, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, { autofocus: :true }
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :username
    = f.text_field :username
  -if @current_user && @current_user.admin
    .field
      = f.label :admin
      = f.check_box :admin
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  -if @user.resume.exists?
    %hr/
    %p
      Current Resume
      = link_to @user.resume.url, @user.resume.url
      .field
        = f.label :delete_resume
        = f.check_box :delete_resume
  .field
    -if @user.resume.exists?
      = f.label "New Resume"
    -else
      = f.label :resume

    = f.file_field :resume
  - if logged_in? && current_user.admin
    %hr/
    = hidden_field_tag "user[tag_ids][]", nil
    - Tag.all.each do |tag|
      = check_box_tag "user[tag_ids][]", tag.id, @user.tag_ids.include?(tag.id), id: dom_id(tag)
      = label_tag dom_id(tag), tag.name
  %hr
  .actions
    = f.submit 'Save'
