%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Username:
  = @user.username
-if @current_user && @current_user.admin
  %p
    %b Admin:
    = @user.admin
-if @user.resume_file_size
  %p
    %b Resume:
    = link_to @user.resume.url, @user.resume.url
-#%p
  -#%b Password digest:
  -#= @user.password_digest

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
