%h3 Personal Details
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Username:
  = @user.username
-if @current_user && @current_user.admin
  %p
    %b Admin:
    = @user.admin
-if @user.resume_file_size
  %p
    %b Resume:
    = link_to @user.resume.url, @user.resume.url
%hr
-if @user.social_media_accounts
  %h3 Social Media Accounts
  - @user.social_media_accounts.each do |social_media_account|
    %p
      %b
        = social_media_account.social_media_site.name + ":"
      = link_to social_media_account.social_media_site.userbase_url + social_media_account.identifier,
          "http://" + social_media_account.social_media_site.userbase_url + social_media_account.identifier, target: "_blank"
      = link_to "Edit", edit_user_social_media_account_path(@user, social_media_account)
      = link_to 'Destroy', user_social_media_account_path(@user, social_media_account), method: :delete, data: { confirm: 'Are you sure?' }
  = link_to "New", new_user_social_media_account_path(@user)
- if logged_in? && current_user.admin
  %hr
  -if @user.user_tags
    %h3 Tags
    %ul
      - @user.user_tags.each do |user_tag|
        %li
          = user_tag.tag.name
  -#%p
    -#%b Password digest:
    -#= @user.password_digest
  %hr
  -if @user.interviews_as_interviewee
    %h3 Interviews
    %ul
      - @user.interviews_as_interviewee.sort_by{|interview| interview.date}.each do |interview|
        %li
          Interviewed by
          = interview.interviewer.name
          on
          = interview.date.strftime("%e %b %Y")
          %br/
          %b Approved:
          = interview.approve
          %br/
          %b Notes:
          = interview.notes
    = link_to "New", new_interview_path(:interviewee_id => @user.id, :interviewer_id => @current_user.id)
%hr
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
