= form_for @social_media_site do |f|
  - if @social_media_site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@social_media_site.errors.count, "error")} prohibited this social_media_site from being saved:"
      %ul
        - @social_media_site.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, { autofocus: :true }
  .field
    = f.label :homepage_url
    = f.text_field :homepage_url
  .field
    = f.label :userbase_url
    = f.text_field :userbase_url
  .actions
    = f.submit 'Save'
