%p#notice= notice

%p
  %b Name:
  = @social_media_site.name
%p
  %b Homepage URL:
  = @social_media_site.homepage_url
%p
  %b User Base URL:
  = @social_media_site.userbase_url

= link_to 'Edit', edit_social_media_site_path(@social_media_site)
\|
= link_to 'Back', social_media_sites_path
